{% if TPL_BB_DIE %}
<!--========================================================================-->

{% if IN_ADMIN %}<br /><br />{% else %}<div class="spacer_10"></div>{% endif %}

<table class="forumline message">
	<tr><th>{{ __('INFORMATION') }}</th></tr>
	<tr><td>
		<div class="mrg_16">{{ MESSAGE_TEXT|raw }}</div>
		<div class="mrg_12">{{ BB_DIE_APPEND_MSG|raw }}</div>
	</td></tr>
</table>

{% if IN_ADMIN %}<br /><br />{% else %}<div class="spacer_10"></div>{% endif %}

<!--========================================================================-->
{% endif %}

{% if TPL_CONFIRM %}
<!--========================================================================-->

<form action="{{ FORM_ACTION }}" method="{{ FORM_METHOD }}">
	{{ HIDDEN_FIELDS|raw }}

	<div class="spacer_10"></div>

	<table class="forumline message">
		<tr>
			<th>{{ CONFIRM_TITLE }}</th>
		</tr>
		<tr>
			<td>
				<h4 style="margin-bottom: 1em;">{{ QUESTION }}</h4>
				{% if ITEMS_LIST %}
				<table class="borderless bCenter">
					<tr><td class="med tLeft">
						<ul style="margin-top: -1em;"><li>{{ ITEMS_LIST|raw }}</li></ul>
					</td></tr>
				</table>
				{% endif %}
				<div style="padding-top: 0.3em; margin-bottom: -8px;">
					<input type="submit" name="confirm" value="{{ __('YES') }}" class="mainoption" />&nbsp;
					<input type="submit" name="cancel" value="{{ __('NO') }}" class="liteoption" />
				</div>
			</td>
		</tr>
	</table>

</form>
<div class="spacer_10"></div>

<!--========================================================================-->
{% endif %}
