{% if SIMPLE_FOOTER %}<div class="copyright tCenter">{{ POWERED|raw }}</div>{% elseif IN_ADMIN %}{% else %}

	</div><!--/main_content_wrap-->
	</td><!--/main_content-->

	{% if SHOW_SIDEBAR2 %}
		<!--sidebar2-->
		<td id="sidebar2">
		<div id="sidebar2-wrap">
			{% include '@lang/sidebar2.twig' ignore missing %}
			<img width="210" class="spacer" src="{{ SPACER }}" alt="" />
		</div><!--/sidebar2_wrap-->
		</td><!--/sidebar2-->
	{% endif %}

	</tr></table>
	</div>
	<!--/page_content-->

	<!--page_footer-->
	<div id="page_footer">

		<div class="clear"></div>

		<br /><br />

		<div class="med bold tCenter">
			{% if HTML_AGREEMENT %}
			<a href="{{ config('app.user_agreement_url') }}" onclick="window.open(this.href, '', IWP); return false;">{{ __('USER_AGREEMENT') }}</a>
			{% endif %}
			{% if HTML_COPYRIGHT %}
			<span class="normal">&nbsp;|&nbsp;</span>
			<a href="{{ config('app.copyright_holders_url') }}" onclick="window.open(this.href, '', IWP); return false;">{{ __('COPYRIGHT_HOLDERS') }}</a>
			{% endif %}
			{% if HTML_ADVERT %}
			<span class="normal">&nbsp;|&nbsp;</span>
			<a href="{{ config('app.advert_url') }}" onclick="window.open(this.href, '', IWP); return false;">{{ __('ADVERT') }}</a>
			{% endif %}
		</div>
		<br />

		{% if SHOW_ADMIN_LINK %}
		<div class="tiny tCenter"><a href="{{ ADMIN_LINK_HREF }}">{{ __('ADMIN_PANEL') }}</a></div>
		<br />
		{% endif %}

		<div class="copyright tCenter">
			{{ POWERED|raw }}<br />
		</div>

	</div>

	<div class="copyright tCenter">
		<b style="color:rgb(204,0,0);">{{ __('NOTICE') }}</b><br />
		{{ __('COPY') }}
	</div><br />

	<!--/page_footer -->

	</div>
	<!--/page_container -->

{% endif %}

<script type="text/javascript">new ClipboardJS('.copyElement');</script>

{% if ONLOAD_FOCUS_ID %}
<script type="text/javascript">
$p('{{ ONLOAD_FOCUS_ID }}').focus();
</script>
{% endif %}
