<script type="text/javascript">
function emoticon(text) {
	text = ' ' + text + ' ';
	if (opener.document.forms['post'].message.createTextRange && opener.document.forms['post'].message.caretPos) {
		var caretPos = opener.document.forms['post'].message.caretPos;
		caretPos.text = caretPos.text.charAt(caretPos.text.length - 1) == ' ' ? text + ' ' : text;
		opener.document.forms['post'].message.focus();
	} else {
	opener.document.forms['post'].message.value  += text;
	opener.document.forms['post'].message.focus();
	}
}
</script>

<table width="100%" cellpadding="10">
	<tr>
		<td>
			<table class="forumline">
				<tr>
					<th>{{ __('EMOTICONS') }}</th>
				</tr>
				<tr>
					<td class="row1">
						<table class="borderless w100" cellpadding="5">
							{% for row in SMILIES_ROWS %}
							<tr class="tCenter">
								{% for smiley in row.COLS %}
								<td><a href="javascript:emoticon('{{ smiley.SMILEY_CODE }}')"><img src="{{ smiley.SMILEY_IMG }}" border="0" alt="{{ smiley.SMILEY_DESC }}" title="{{ smiley.SMILEY_DESC }}" /></a></td>
								{% endfor %}
							</tr>
							{% endfor %}
							{% if SHOW_MORE_SMILIES %}
							<tr class="tCenter">
								<td colspan="{{ S_SMILIES_COLSPAN }}"><span class="nav"><a href="{{ U_MORE_SMILIES }}" onclick="open_window('{{ U_MORE_SMILIES }}', 250, 300);return false" target="_smilies" class="nav">{{ __('MORE_EMOTICONS') }}</a></td>
							</tr>
							{% endif %}
						</table>
					</td>
				</tr>
				<tr>
					<td class="row2 tCenter"><br /><span class="med"><a href="javascript:window.close();" class="med">{{ __('CLOSE_WINDOW') }}</a></span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
