<script type="text/javascript">
    ajax.in_edit_mode = false;

    $(document).ready(function () {
        $('#show-edit-btn a').click(function () {
            show_edit_options();
            $('#show-edit-btn').html($('#edit-sel-topics').html());
            return false;
        });

        $('td.topic_id').click(function () {
            if (!ajax.in_edit_mode) {
                $('#show-edit-btn a').click();
                $(this).find('input').click();
            }
        });
    });

    function show_edit_options() {
        $('td.topic_id').each(function () {
            var topic_id = $(this).attr('id');
            var input = '<input id="sel-' + topic_id + '" type="checkbox" value="' + topic_id + '" class="topic-chbox" />';
            $(this).html(input);
        });

        $('input.topic-chbox').click(function () {
            $('#tr-' + this.value).toggleClass('hl-selected-row');
        });
        $('#pagination a.pg').each(function () {
            this.href += '&mod=1';
        });
        $('#ed-list-desc').hide();
        $('#mod-action-cell').append($('#mod-action-content')[0]);
        $('#mod-action-row, #mod-action-content').show();

        $('#mod-action').submit(function () {
            var $form = $(this);
            $('input[name~=topic_id_list]', $form).remove();
            $('input.topic-chbox:checked').each(function () {
                $form.append('<input type="hidden" name="topic_id_list[]" value="' + this.value + '" />');
                $('#tr-' + this.value).remove();
            });
        });
        ajax.in_edit_mode = true;
    }
</script>

<style>
    td.topic_id {
        cursor: pointer;
    }
</style>

<div id="mod-action-content" style="display: none;">
    <form id="mod-action" name="watch_form" method="post" action="{{ S_FORM_ACTION }}">
        <table class="borderless pad_0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="pad_4">
                    <input type="submit" name="del_from_ut" value="{{ __('DEL_LIST_MY_MESSAGE') }}"
                           onclick="if (!window.confirm( this.value +'?' )) { return false; }"/>
            </tr>
        </table>
    </form>
</div>

<table id="post-row" style="display: none;">
    <tr>
        <td class="row2" colspan="7">
            <div class="post_watch_wrap row1">
                <div class="post_body pad_6"></div>
                <div class="clear"></div>
            </div>
        </td>
    </tr>
</table>

<table cellpadding="2" cellspacing="0" width="100%">
    <tr>
        <td width="100%">
            <h1 class="pagetitle">{{ PAGE_TITLE }}</h1>
            <div id="forums_top_links" class="nav">
                <a href="{{ U_INDEX }}">{{ __('HOME') }}</a>&nbsp;<em>&middot;</em>
                <span id="show-edit-btn"><a href="#">{{ __('EDIT_MY_MESSAGE_LIST') }}</a></span>
                <span id="edit-sel-topics" style="display: none;"><a href="#" class="bold adm" onclick="$('input.topic-chbox').trigger('click'); return false;">{{ __('SELECT_INVERT') }}</a></span><em>&middot;</em>
                <a href="#" class="med normal" onclick="setCookie('{{ constant('COOKIE_MARK') }}', 'all_forums'); window.location.reload();">{{ __('MARK_ALL_FORUMS_READ') }}</a>
            </div>
        </td>
        <td class="vBottom tLeft nowrap med"><b>{{ PAGINATION|raw }}</b></td>
    </tr>
</table>

<table width="100%" class="forumline tablesorter">
    <thead>
    <tr>
        <th class="{sorter: 'text'}"></th>
        <th class="{sorter: 'text'}" width="25%"><b class="tbs-text">{{ __('FORUM') }}</b></th>
        <th class="{sorter: 'text'}" width="75%"><b class="tbs-text">{{ __('TOPIC') }}</b></th>
        <th class="{sorter: 'text'}"><b class="tbs-text">{{ __('AUTHOR') }}</b></th>
        <th width="80" class="{sorter: 'digit'}"><b class="tbs-text">{{ __('REPLIES') }}</b></th>
        <th width="120" class="{sorter: 'digit'} nowrap"><b class="tbs-text">{{ __('LASTPOST') }}</b></th>
    </tr>
    </thead>
    {% for item in WATCH_LIST %}
    <tr class="tCenter {{ item.ROW_CLASS }}" id="tr-{{ item.TOPIC_ID }}">
        <td id="{{ item.TOPIC_ID }}" class="topic_id">
            <span style="display: none;">{{ item.TOPIC_ICON }}</span>
            <img class="topic_icon" src="{{ item.TOPIC_ICON }}">
        </td>
        <td><a href="{{ item.U_FORUM }}" class="genmed">{{ item.FORUM_TITLE }}</a></td>
        <td class="tLeft nowrap">
            {% if item.POLL %}<span class="topicPoll">{{ __('TOPIC_POLL') }}</span>{% endif %}
            <a class="topictitle" title="{{ item.FULL_TOPIC_TITLE }}" href="{{ item.U_TOPIC }}">{{ item.TOPIC_TITLE }}</a>
            {% if item.PAGINATION %}<br/><span class="topicPG">&nbsp;[{{ ICON_GOTOPOST|raw }}{{ __('GOTO_SHORT') }} {{ item.PAGINATION|raw }} ]</span>{% endif %}
        </td>
        <td>{{ item.AUTHOR|raw }}</td>
        <td class="gensmall">{{ item.REPLIES }}</td>
        <td class="gensmall nowrap">
            <u>{{ item.LAST_POST_RAW }}</u>
            {{ item.LAST_POST|raw }}{% if item.IS_UNREAD %}<a href="{{ item.U_TOPIC_NEWEST }}">{{ ICON_NEWEST_REPLY|raw }}</a>{% else %}
            <a href="{{ item.U_LAST_POST }}">{{ ICON_LATEST_REPLY|raw }}</a>{% endif %}
        </td>
    </tr>
    {% endfor %}
    <tfoot>
    <tr id="mod-action-row">
        <td colspan="6" id="mod-action-cell" class="row2">
            <span id="ed-list-desc" class="small">{{ __('DEL_LIST_INFO') }}<span class="floatR">{{ MATCHES }}</span></span>
        </td>
    </tr>
    </tfoot>
</table>
