{% include 'ajax_edit.twig' %}
{% if IS_ADMIN %}
<script type="text/javascript">
    // edit_user_profile
    ajax.init.edit_user_profile = function (params) {
        if (params.submit) {
            ajax.exec({
                action: params.action,
                edit_id: params.id,
                user_id: params.user_id || {{ PROFILE_USER_ID }},
                field: params.field || params.id,
                value: params.value
            });
        } else {
            editableType = params.editableType || "input";
            ajax.makeEditable(params.id, editableType);
        }
    };
    ajax.callback.edit_user_profile = function (data) {
        ajax.restoreEditable(data.edit_id, data.new_value);
    };

    // change_user_rank
    ajax.change_user_rank = function (uid, rank_id) {
        $('#rank-msg').html('<i class="loading-1">{{ __('LOADING') }}</i>');
        ajax.exec({
            action: 'change_user_rank',
            user_id: uid,
            rank_id: rank_id
        });
    };
    ajax.callback.change_user_rank = function (data) {
        $('#rank-msg').html(data.html);
        $('#rank-name').html(data.rank_name);
    };

    // change_user_opt
    ajax.user_opt = {{ AJAX_USER_OPT|raw }};
    ajax.change_user_opt = function () {
        ajax.exec({
            action: 'change_user_opt',
            user_id: {{ PROFILE_USER_ID }},
            user_opt: JSON.stringify(ajax.user_opt)
        });
    };
    ajax.callback.change_user_opt = function (data) {
        $('#user-opt-resp').html(data.resp_html);
        $('#user-opt-save-btn').removeAttr('disabled');
    };
    $(document).ready(function () {
        $('#user-opt').find('input[type=checkbox]').click(function () {
            var $chbox = $(this);
            var opt_name = $chbox.attr('name');
            var opt_val = $chbox.prop('checked') ? 1 : 0;
            ajax.user_opt[opt_name] = opt_val;
            $chbox.parents('label').toggleClass('bold');
            $('#user-opt-save').show();
        });
        $('#user-opt').find('input[type=checkbox]').each(function () {
            if (ajax.user_opt[$(this).attr('name')]) {
                $(this).attr({checked: 'checked'});
                $(this).parents('label').addClass('bold');
            }
        });
        $('#user-opt-save-btn').click(function () {
            this.disabled = 1;
            $('#user-opt-resp').html('&nbsp;');
            ajax.change_user_opt();
        });
    });
</script>

<var class="ajax-params">{action: "edit_user_profile", id: "username"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_email"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_website"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_occ"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_interests"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_twitter", editableType: "yesno-twitter"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_gender", editableType: "yesno-gender"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_birthday", editableType: "yesno-birthday"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "u_up_total"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "u_down_total"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "u_up_release"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "u_up_bonus"}</var>
<var class="ajax-params">{action: "edit_user_profile", id: "user_points"}</var>

<script type="text/javascript">
ajax.callback.manage_user = function(data) {
	if(data.info) alert(data.info);
	if(data.url) document.location.href = data.url;
};
</script>
{% endif %}

{% if IS_AM %}
<script type="text/javascript">
ajax.ip_load = false;
ajax.mod_action = function(mode) {
if (!ajax.ip_load) {
	ajax.exec({
		action  : 'mod_action',
		mode    : mode,
		user_id : {{ PROFILE_USER_ID }}
	});
}
else
{
	$('#ip_list').toggle();
}};
ajax.callback.mod_action = function(data) {
	$('#ip_list').html(data.ip_list_html);
	ajax.ip_load = true;
}
</script>

<script type="text/javascript">
ajax.group_membership = function(mode) {
	$('#gr-mem-list').html('<i class="loading-1">{{ __('LOADING') }}</i>');
	ajax.exec({
		action  : 'group_membership',
		mode    : mode,
		user_id : {{ PROFILE_USER_ID }}
	});
};
ajax.callback.group_membership = function(data) {
	$('#gr-mem-list').html(data.group_list_html);
};
</script>
{% endif %}

<script type="text/javascript">
    ajax.index_data = function(mode) {
        ajax.exec({
            action: 'index_data',
            mode: mode,
            user_id: {{ PROFILE_USER_ID }}
        });
    };
    ajax.callback.index_data = function(data) {
        switch (data.mode) {
            case 'null_ratio':
                break;
            case 'releaser_stats':
                $('#releases_profile').html(data.html);
                break;
            case 'get_traf_stats':
                $('#traf-stats-tbl').html(data.html);
                $('#traf-stats-tbl').show();
                if (data.user_ratio) {
                    $('#bt_user_ratio').html(data.user_ratio);
                    $('#bt_user_ratio').show();
                }
                $('#traf-stats-span').hide();
                break;
        }
    };
</script>

{% if SHOW_PASSKEY %}
<script type="text/javascript">
    ajax.callback.passkey = function (data) {
        $('#passkey').text(data.passkey);
    };
</script>
{% endif %}

<style>
#traf-stats-tbl { width: 468px; background: #F9F9F9; border: 1px solid #A5AFB4; border-collapse: separate; }
#traf-stats-tbl th, #traf-stats-tbl td { padding: 2px 10px 3px; text-align: center; white-space: nowrap; font-size: 11px; }
#traf-stats-tbl th { padding: 2px {% if config('seed_bonus_enabled') %}11{% else %}22{% endif %}px 3px; }
{% if TRAF_STATS %}
#traf-stats-tbl th { padding: 2px 30px 3px; }
{% endif %}
.pagetitle a { font-size: 16px; }
</style>

<h1 class="pagetitle">{% if PROFILE_USER %}{{ L_MY_PROFILE|raw }}{% else %}{{ L_VIEWING_PROFILE }}{% endif %}</h1>

<div class="nav">
	<p class="floatL"><a href="{{ U_INDEX }}">{{ __('HOME') }}</a></p>
	{% if IS_ADMIN %}
	<p class="floatR">
		<a href="{{ U_MANAGE }}">{{ __('PROFILE') }}</a> &middot;
		<a href="{{ U_PERMISSIONS }}">{{ __('PERMISSIONS') }}</a>
	</p>
    {% elseif PROFILE_USER %}
    <p class="floatR">
        <a href="{{ U_OPTIONS }}">{{ __('PROFILE') }}</a>
    </p>
	{% endif %}
	<div class="clear"></div>
</div>

<table class="user_profile bordered w100" cellpadding="0">
<tr>
	<th colspan="2" class="thHead">{{ L_VIEWING_PROFILE }}</th>
</tr>
<tr>
	<td class="row1 vTop tCenter" width="30%">

		<div id="avatar-img" class="mrg_4 med">
			{{ AVATAR_IMG|raw }}
            {% if IS_ADMIN or PROFILE_USER %}
            <script type="text/javascript">
                // avatar
                ajax.avatar = function (mode, uid) {
                    ajax.exec({
                        action: 'avatar',
                        mode: mode,
                        user_id: uid
                    });
                };
                ajax.callback.avatar = function (data) {
                    $('#avatar-img').html(data.avatar_html);
                    $('#avatar-adm').hide();
                };
            </script>
			<p id="avatar-adm" class="med mrg_4">[ <a href="#" onclick="if (window.confirm('{{ __('AVATAR_DELETE') }}?')){ ajax.avatar('delete', {{ PROFILE_USER_ID }}); } return false;" class="adm">{{ __('AVATAR_DELETE') }}</a> ]</p>
			{% endif %}
		</div>
		<p class="small mrg_4">
		{% if IS_ADMIN %}
			{{ RANK_SELECT|raw }}
			<script type="text/javascript">
			$('#rank-sel').bind('change', function(){ ajax.change_user_rank( {{ PROFILE_USER_ID }}, $(this).val() ); });
			</script>
			<div id="rank-msg" class="mrg_6"></div>
		{% elseif RANK_IMAGE %}
			{{ RANK_IMAGE|raw }}
		{% endif %}
		</p>
        {% if BAN_INFO %}
        <hr/>
        {% if BAN_INFO.IS_BANNED %}
        <b title="{{ __('BANNED_USERS') }}" class="warnColor2">{{ __('BANNED') }}</b>
        {% endif %}
        {% if BAN_INFO.BAN_REASON %}
        <div class="mrg_4">{{ __('REASON') }}: {{ BAN_INFO.BAN_REASON }}</div>
        {% endif %}
        <hr/>
        {% endif %}
        {% if BIRTHDAY_ICON %}<div class="mrg_8">{{ BIRTHDAY_ICON|raw }}</div>{% endif %}
		<h4 class="cat border bw_TB">{{ __('CONTACT') }}&nbsp;{{ USERNAME }}</span></h4>

		<div class="spacer_4"></div>

		<table class="nowrap borderless user_contacts w100">
		{% if EMAIL %}
		<tr>
			<th>{{ __('EMAIL_ADDRESS') }}:</th>
			<td class="tLeft med" id="user_email">{{ EMAIL }}</td>
		</tr>
		{% endif %}
		{% if PM %}
		<tr>
			<th>{{ __('PRIVATE_MESSAGE') }}:</th>
			<td class="tLeft med">{{ PM|raw }}</td>
		</tr>
		{% endif %}
		{% if TWITTER %}
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<tr>
			<th>{{ __('TWITTER') }}:</th>
			<td class="tLeft med" id="user_twitter">
				<span class="editable">
					<a href="https://twitter.com/{{ TWITTER }}" class="twitter-follow-button" data-show-count="false" data-lang="{{ USER_LANG }}">{{ TWITTER }}</a>
				</span>
			</td>
		</tr>
		{% endif %}
		</table>
		<!--/user_contacts-->

		{% if USER_RESTRICTIONS %}
		<fieldset class="mrg_6">
		<legend>{{ __('USER_NOT_ALLOWED') }}:</legend>
			<div class="tLeft" style="padding: 4px 6px 8px 2px;">
			<ul><li>{{ USER_RESTRICTIONS|raw }}</li></ul>
			</div>
		</fieldset>
		{% endif %}

	</td>
	<td class="row1" valign="top" width="70%">

		<div class="spacer_4"></div>

		{% if not USER_ACTIVE %}
		<h4 class="mrg_4 tCenter warnColor1">{{ __('DISABLED_USER') }}</h4>
		{% endif %}

		<table class="user_details borderless w100">
            <tr>
                <th>{{ __('USERNAME') }}:</th>
                <td id="username">
                    <span class="editable bold">{{ USERNAME }}</span>
                </td>
            </tr>
			{% if SHOW_ROLE %}
			<tr>
				<th>{{ __('ROLE') }}</th>
				<td id="role">
					<b id="rank-name">{{ POSTER_RANK|raw }}</b>
					{% if GROUP_MEMBERSHIP and IS_MOD %}
					<span id="gr-mod-a">[ <a href="#" class="med" onclick="ajax.group_membership('get_group_list'); $('#gr-mem-tr').show(); $('#gr-mod-a').hide(); return false;">{{ __('MEMBERSHIP_IN') }}</a> ]</span>
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if GROUP_MEMBERSHIP %}
			<tr id="gr-mem-tr"{% if IS_MOD %} style="display: none;"{% endif %}>
				<th>{{ __('MEMBERSHIP_IN') }}:</th>
				<td id="gr-mem-list">
					{% if IS_ADMIN %}<a href="#" class="med" onclick="ajax.group_membership('get_group_list'); return false;">{{ GROUP_MEMBERSHIP_TXT }}</a>{% endif %}
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>{{ __('JOINED') }}:</th>
				<td>
					<b>{{ USER_REGDATE }}</b>
					{% if IS_ADMIN %}
					[ <a href="#admin" class="adm menu-root menu-alt1">{{ __('MANAGE_USER') }}</a> ]
					<div class="menu-sub row1 border bw_TRBL" id="admin">
						<fieldset class="mrg_6">
							<div class="tLeft" style="padding: 5px 6px 6px; display: block; font-size: 13px;">
								<a href="#" onclick="ajax.exec({action : 'manage_user', mode: '{% if USER_ACTIVE %}user_deactivate{% else %}user_activate{% endif %}', user_id : {{ PROFILE_USER_ID }}}); return false;" class="{% if USER_ACTIVE %}adm{% else %}seed bold{% endif %}">{% if USER_ACTIVE %}{{ __('USER_DEACTIVATE') }}{% else %}{{ __('USER_ACTIVATE') }}{% endif %}</a> <br />
								<a href="#" onclick="ajax.exec({action : 'manage_user', mode: 'delete_profile', user_id : '{{ PROFILE_USER_ID }}'}); return false;" class="adm">{{ __('USER_DELETE_EXPLAIN') }}</a> <br />
								<a href="#" onclick="ajax.exec({action : 'manage_user', mode: 'delete_topics', user_id : '{{ PROFILE_USER_ID }}'}); return false;" class="adm">{{ __('DELETE_USER_ALL_POSTS') }}</a> <br />
								<a href="#" onclick="ajax.exec({action : 'manage_user', mode: 'delete_message', user_id : '{{ PROFILE_USER_ID }}'}); return false;" class="adm">{{ __('DELETE_USER_POSTS') }}</a> <br />
							</div>
						</fieldset>
						<fieldset class="mrg_6">
							<legend>{{ __('BAN_USER') }}</legend>
							<div class="tLeft" style="padding: 2px 6px 6px; display: block;" id="user-opt">
								<label><input type="checkbox" name="dis_avatar"/>{{ __('HIDE_AVATARS') }}</label>
								<label><input type="checkbox" name="dis_sig"/>{{ __('SHOW_CAPTION') }}</label>
								<label><input type="checkbox" name="dis_passkey"/>{{ __('DOWNLOAD_TORRENT') }}</label>
								<label><input type="checkbox" name="dis_pm"/>{{ __('SEND_PM') }}</label>
								<label><input type="checkbox" name="dis_post"/>{{ __('SEND_MESSAGE') }}</label>
								<label><input type="checkbox" name="dis_post_edit"/>{{ __('EDIT_POST') }}</label>
								<label><input type="checkbox" name="dis_topic"/>{{ __('NEW_THREADS') }}</label>
							</div>
						</fieldset>
						<div id="user-opt-save" class="hidden tCenter">
							<p><input id="user-opt-save-btn" class="bold long" type="button" value="{{ __('SUBMIT') }}" /></p>
							<p id="user-opt-resp" class="mrg_6"></p>
						</div>
					</div>
					{% endif %}
					{% if IS_AM %}[ <a href="#" class="adm" onclick="ajax.mod_action('profile_ip'); return false;">{{ __('IP_ADDRESS') }}</a> ]{% endif %}
				</td>
			</tr>
			<tr>
				<th>{{ __('LAST_VISITED') }}:</th>
				<td>
					<b>{{ LAST_VISIT_TIME }}</b>
				</td>
			</tr>

			<tr>
				<th class="nowrap">{{ __('LAST_ACTIVITY') }}:</th>
				<td>
					<b>{{ LAST_ACTIVITY_TIME }}</b>
					{% if TRAF_STATS %}<span id="traf-stats-span">[ <a href="#" id="traf-stats-btn" class="med" onclick="ajax.index_data('get_traf_stats'); return false;">{{ __('VIEWING_USER_BT_PROFILE') }}</a> ]</span>{% endif %}
				</td>
			</tr>
			<tr>
				<th>{{ __('TOTAL_POSTS') }}:</th>
				<td>
					<p>
						<b>{{ POSTS }}</b>
						[ <a href="{{ U_SEARCH_USER }}" class="med">{{ __('SEARCH_USER_POSTS') }}</a> ]
						[ <a href="{{ U_SEARCH_TOPICS }}" class="med">{{ __('SEARCH_USER_TOPICS') }}</a> ]
						[ <a href="{{ U_SEARCH_RELEASES }}" class="med">{{ __('SEARCH_RELEASES') }}</a> ]
						{% if config('mail.notifications.topic_notify') %}{% if PROFILE_USER %}[ <a href="{{ U_WATCHED_TOPICS }}" class="med">{{ __('WATCHED_TOPICS') }}</a> ]{% elseif IS_ADMIN %}[ <a href="{{ U_WATCHED_TOPICS }}?{{ constant('POST_USERS_URL') }}={{ PROFILE_USER_ID }}" class="med">{{ __('WATCHED_TOPICS') }}</a> ]{% endif %}{% endif %}
						[ <a title="{{ __('ATOM_SUBSCRIBE') }}" href="/feed/u/{{ PROFILE_USER_ID }}/" target="_blank">{{ FEED_IMG|raw }}</a> ]
					</p>
				</td>
			</tr>

			{% if constant('SHOW_BT_STATS') %}
			<tr id="bt_user_ratio" {% if TRAF_STATS %}style="display: none;"{% endif %}>
				<th>{{ __('USER_RATIO') }}:</th>
				<td>
					{% if DOWN_TOTAL_BYTES > MIN_DL_BYTES %}
					<b id="u_ratio" class="gen">{{ USER_RATIO }}</b>
					[<a class="gen" href="#" onclick="toggle_block('ratio-expl'); return false;">?</a>]
					{% else %}
					<span class="med" title="{{ __('IT_WILL_BE_DOWN') }} {{ MIN_DL_FOR_RATIO }}"><b>{{ __('NONE') }}</b> (DL < {{ MIN_DL_FOR_RATIO }})</span>
					{% endif %}

					{% if SHOW_PASSKEY %}
					[ {{ __('BT_PASSKEY') }}: <span id="passkey-btn"><a class="med" href="#" onclick="$('#passkey-gen').show(); $('#passkey-btn').hide(); return false;">{{ __('BT_PASSKEY_VIEW') }}</a></span>
					<span id="passkey-gen" class="med" style="display: none;">
						<b id="passkey" class="med bold">{% if AUTH_KEY %}{{ AUTH_KEY }}{% else %}{{ __('NOSELECT') }}{% endif %}</b>&nbsp;|&nbsp;<a href="#" onclick="ajax.exec({ action: 'passkey', mode: 'generate', user_id  : {{ PROFILE_USER_ID }} }); return false;">{{ __('BT_GEN_PASSKEY') }}</a>
					</span> ]
					{% endif %}
					{% if PROFILE_USER or IS_ADMIN %}{% if config('tracker.ratio_null_enabled') %}{% if not NULLED_RATIO or IS_ADMIN %}
					[ <a class="med" href="#" onclick="ajax.index_data('null_ratio'); return false;">{{ __('BT_NULL_RATIO') }}</a> ]
					{% endif %}{% endif %}{% endif %}
				</td>
			</tr>

			<tr id="ratio-expl" style="display: none;">
				<td colspan="2" class="med tCenter">
				( {{ __('UPLOADED') }} <b class="seedmed">{{ UP_TOTAL }}</b> + {{ __('RELEASED') }} <b class="seedmed">{{ RELEASED_TOTAL }}</b> + {{ __('BONUS') }} <b class="seedmed">{{ UP_BONUS }}</b> ) / {{ __('DOWNLOADED') }} <b class="leechmed">{{ DOWN_TOTAL }}</b>
				</td>
			</tr>
            {% else %}
            {% if SHOW_PASSKEY %}
            <tr>
                <th>{{ __('BT_PASSKEY') }}:</th>
                <td>
                    [ <span id="passkey-btn"><a class="med" href="#" onclick="$('#passkey-gen').show(); $('#passkey-btn').hide(); return false;">{{ __('BT_PASSKEY_VIEW') }}</a></span>
                    <span id="passkey-gen" class="med" style="display: none;">
						<b id="passkey" class="med bold">{% if AUTH_KEY %}{{ AUTH_KEY }}{% else %}{{ __('NOSELECT') }}{% endif %}</b>&nbsp;|&nbsp;<a href="#" onclick="ajax.exec({ action: 'passkey', mode: 'generate', user_id  : {{ PROFILE_USER_ID }} }); return false;">{{ __('BT_GEN_PASSKEY') }}</a>
					</span> ]
                </td>
            </tr>
            {% endif %}
			{% endif %}

			{% if LOCATION %}
			<tr>
				<th class="vBottom">{{ __('LOCATION') }}:</th>
				<td id="user_from">{{ LOCATION }}</td>
			</tr>
			{% endif %}
			{% if WWW %}
			<tr>
				<th>{{ __('WEBSITE') }}:</th>
				<td id="user_website"><a href="{{ WWW }}" class="editable" target="_blank">{{ WWW }}</a></td>
			</tr>
			{% endif %}
			{% if OCCUPATION %}
			<tr>
				<th>{{ __('OCCUPATION') }}:</th>
				<td id="user_occ"><b class="editable">{{ OCCUPATION }}</b></td>
			</tr>
			{% endif %}
			{% if INTERESTS %}
			<tr>
				<th>{{ __('INTERESTS') }}:</th>
				<td id="user_interests"><b class="editable">{{ INTERESTS }}</b></td>
			</tr>
			{% endif %}
			{% if GENDER %}
			<tr>
				<th>{{ __('GENDER') }}:</th>
				<td id="user_gender"><b class="editable">{{ GENDER }}</b></td>
			</tr>
			{% endif %}
			{% if BIRTHDAY %}
			<tr>
				<th>{{ __('BIRTHDAY') }}:</th>
				<td id="user_birthday"><b class="editable">{{ BIRTHDAY }}</b></td>
			</tr>
			<tr>
				<th>{{ __('AGE') }}:</th>
				<td><b>{{ AGE }}</b></td>
			</tr>
			{% endif %}
			<tr>
				<th>{{ __('RELEASER_STAT') }}</th>
				<td id="releases_profile">[ <a href="#" class="med" onclick="ajax.index_data('releaser_stats'); return false;">{{ __('RELEASER_STAT_SHOW') }}</a> ]</td>
			</tr>
			<tr>
				<td colspan="2" class="pad_4">
					<table id="traf-stats-tbl" {% if TRAF_STATS %}style="display: none;"{% endif %} class="bCenter borderless" cellspacing="1">
						<tr class="row3">
							<th></th>
							<th>{{ __('DOWNLOADED') }}</th>
							<th>{{ __('UPLOADED') }}</th>
							<th>{{ __('RELEASED') }}</th>
							<th>{{ __('BONUS') }}</th>
							{% if config('seed_bonus_enabled') %}<th>{{ __('SEED_BONUS') }}</th>{% endif %}
						</tr>
						<tr class="row1">
							<td>{{ __('TD_TRAF') }}</td>
							<td class="leech">{{ TD_DL }}</td>
							<td class="seed">{{ TD_UL }}</td>
							<td class="seed">{{ TD_REL }}</td>
							<td class="seed">{{ TD_BONUS }}</td>
							{% if config('seed_bonus_enabled') %}<td class="points">{{ TD_POINTS }}</td>{% endif %}
						</tr>
						<tr class="row5">
							<td>{{ __('YS_TRAF') }}</td>
							<td class="leech">{{ YS_DL }}</td>
							<td class="seed">{{ YS_UL }}</td>
							<td class="seed">{{ YS_REL }}</td>
							<td class="seed">{{ YS_BONUS }}</td>
							{% if config('seed_bonus_enabled') %}<td class="points">{{ YS_POINTS }}</td>{% endif %}
						</tr>
						<tr class="row1">
							<td>{{ __('TOTAL_TRAF') }}</td>
							<td id="u_down_total"><span class="editable bold leechmed">{{ DOWN_TOTAL }}</span></td>
							<td id="u_up_total"><span class="editable bold seedmed">{{ UP_TOTAL }}</span></td>
							<td id="u_up_release"><span class="editable bold seedmed">{{ RELEASED_TOTAL }}</span></td>
							<td id="u_up_bonus"><span class="editable bold seedmed">{{ UP_BONUS }}</span></td>
							{% if config('seed_bonus_enabled') %}<td id="user_points"><span class="editable bold points">{{ USER_POINTS }}</span></td>{% endif %}
						</tr>
						<tr class="row5">
							<td colspan="1">{{ __('MAX_SPEED') }}</td>
							<td colspan="2">{{ __('DL_DL_SPEED') }}: {{ SPEED_DOWN }}</td>
							<td colspan="2">{{ __('DL_UL_SPEED') }}: {{ SPEED_UP }}</td>
							{% if config('seed_bonus_enabled') %}<td colspan="1">{% if PROFILE_USER %}<a href="{{ BONUS_URL }}">{{ __('EXCHANGE') }}</a>{% endif %}</td>{% endif %}
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--/user_details-->
	{% if IS_AM %}<span id="ip_list"></span>{% endif %}
	</td>
</tr>
{% if SIGNATURE %}
<tr>
	<td class="row1 pad_4" colspan="2">
		<div class="signature">{{ SIGNATURE|raw }}</div>
	</td>
</tr>
{% endif %}
</table>
<!--/user_profile-->

<a name="torrent"></a>
<div class="spacer_8"></div>
{% if USER_DLS %}
<style>
#dls-tbl u { display: none; }
.dls-type, .dls-f { padding: 4px; text-align: center; }
.dls-cnt { font-size: 16px; font-weight: normal; }
</style>
<script type="text/javascript">
$(function(){
	$('#dls-tbl').tablesorter();
});
</script>

<h1 class="pagetitle tCenter">{{ __('CUR_ACTIVE_DLS') }} <span class="dls-cnt">({{ L_RELEASINGS|raw }}, {{ L_SEEDINGS|raw }}, {{ L_LEECHINGS|raw }})</span></h1>

<div class="sectionMain">
<table class="forumline tablesorter" id="dls-tbl">
<thead>
<tr>
	<th class="{sorter: 'digit'}"><b class="tbs-text">{{ __('TYPE') }}</b></th>
	<th class="{sorter: 'text'}" width="25%"><b class="tbs-text">{{ __('FORUM') }}</b></th>
	<th class="{sorter: 'text'}" width="75%"><b class="tbs-text">{{ __('TOPICS') }}</b></th>
	<th class="{sorter: false}">{{ __('TORRENT') }}</th>
</tr>
</thead>

{% for released_item in RELEASED %}
<tr class="{{ released_item.ROW_CLASS }}">
	<td class="dls-type"><u>0</u><b class="seedmed">{{ __('RELEASING') }}</b></td>
	<td class="dls-f"><a class="gen" href="{{ released_item.U_VIEW_FORUM }}">{{ released_item.FORUM_NAME }}</a></td>
	<td class="pad_4"><a class="med tLink" href="{{ released_item.U_VIEW_TOPIC }}">{{ released_item.TOR_TYPE|raw }}<b>{{ released_item.TOPIC_TITLE|raw }}</a></td>
	<td class="tCenter med nowrap pad_2">
		<p><b class="seedmed">{{ released_item.TOPIC_SEEDERS }}</b> | <b class="leechmed">{{ released_item.TOPIC_LEECHERS }}</b></p>
		<p style="padding-top: 2px" class="seedsmall">{{ released_item.SPEED_UP }}</p>
	</td>
</tr>
{% endfor %}{# /RELEASED #}

{% for seed_item in SEED %}
<tr class="{{ seed_item.ROW_CLASS }}">
	<td class="dls-type"><u>1</u><span class="seedmed">{{ __('SEEDING') }}</span></td>
	<td class="dls-f"><a class="gen" href="{{ seed_item.U_VIEW_FORUM }}">{{ seed_item.FORUM_NAME }}</a></td>
	<td class="pad_4"><a class="med tLink" href="{{ seed_item.U_VIEW_TOPIC }}">{{ seed_item.TOR_TYPE|raw }}<b>{{ seed_item.TOPIC_TITLE|raw }}</b></a></td>
	<td class="tCenter med nowrap pad_2">
		<p><b class="seedmed">{{ seed_item.TOPIC_SEEDERS }}</b> | <b class="leechmed">{{ seed_item.TOPIC_LEECHERS }}</b></p>
		<p style="padding-top: 2px" class="seedsmall">{{ seed_item.SPEED_UP }}</p>
	</td>
</tr>
{% endfor %}{# /SEED #}

{% for leech_item in LEECH %}
<tr class="{{ leech_item.ROW_CLASS }}">
	<td class="dls-type"><u>2</u><span class="leechmed">{{ __('LEECHING') }}</span></td>
	<td class="dls-f"><a class="gen" href="{{ leech_item.U_VIEW_FORUM }}">{{ leech_item.FORUM_NAME }}</a></td>
	<td class="pad_4"><a class="med tLink" href="{{ leech_item.U_VIEW_TOPIC }}">{{ leech_item.TOR_TYPE|raw }}<b>{{ leech_item.TOPIC_TITLE|raw }}</b></a></td>
	<td class="tCenter med nowrap pad_2">
		<p><b class="seedmed">{{ leech_item.TOPIC_SEEDERS }}</b> | <b class="leechmed">{{ leech_item.TOPIC_LEECHERS }}</b></p>
		<p style="padding-top: 2px" class="seedsmall">{{ leech_item.SPEED_DOWN }}</p>
	</td>
</tr>
{% endfor %}{# /LEECH #}
<tfoot>
<tr class="row2 tCenter">
	<td colspan="4" class="catBottom pad_6">&nbsp;</td>
</tr>
</tfoot>
</table>
</div>
<br />
{% else %}
	<h1 class="pagetitle tCenter">{{ __('CUR_ACTIVE_DLS') }}: <span class="normal">{{ __('NO') }}</span></h1>
{% endif %}

{% if SHOW_SEARCH_DL %}
<div class="tCenter">
	<a class="gen" href="{{ U_SEARCH }}?dlu={{ PROFILE_USER_ID }}&dlw=1">{{ __('SEARCH_DL_WILL_DOWNLOADS') }}</a> ::
	<a class="gen" href="{{ U_SEARCH }}?dlu={{ PROFILE_USER_ID }}&dlc=1">{{ __('SEARCH_DL_COMPLETE_DOWNLOADS') }}</a>
</div>
{% endif %}
