<h1 class="pagetitle">{{ PAGE_TITLE }}</h1>

<table width="100%">
<tr>
	<td width="100%" class="nav vBottom">
		<a href="{{ U_INDEX }}">{{ __('HOME') }}</a>
		<em>&raquo;</em>&nbsp;<a href="{{ U_USER_PROFILE }}">{{ __('RETURN_PROFILE') }}</a>
	</td>
</tr>
</table>

<form method="post" name="bonus_list" action="{{ S_MODE_ACTION }}">

<table class="forumline tCenter">
<tr>
	<th colspan="3">{{ MY_BONUS|raw }}</th>
</tr>
<tr class="row3 med">
	<td class="bold tCenter">{{ __('DESCRIPTION') }}</td>
	<td class="bold tCenter">{{ __('PRICE') }}</td>
	<td class="bold tCenter">{{ __('BONUS_SELECT') }}</td>
</tr>

{% for item in BONUS_UPLOAD %}
<tr class="{{ item.ROW_CLASS }} med">
	<td class="tLeft">{{ item.DESC|raw }}</td>
	<td>{{ item.PRICE|raw }}</td>
	<td style="width: 5%;"><input type="radio" name="bonus_id" value="{{ item.ID }}" /></td>
</tr>
{% endfor %}

<tr>
	<td class="catBottom tCenter" colspan="3">
		<input type="submit" name="submit" value="{{ __('EXCHANGE') }}" class="lite" />
	</td>
</tr>
</table>

</form>

<!--bottom_info-->
<div class="bottom_info">

	<div class="spacer_4"></div>

	<div id="timezone">
		<p>{{ CURRENT_TIME }}</p>
		<p>{{ S_TIMEZONE }}</p>
	</div>
	<div class="clear"></div>

</div><!--/bottom_info-->
